<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UITableView</key>
	<dict>
		<key>backgroundColor</key>
		<string>#FFFFFF</string>
	</dict>
	<key>NSAttributedString</key>
	<dict>
		<key>foregroundColor</key>
		<string>#666666</string>
		<key>highlightColor</key>
		<string>#DEE5ED</string>
	</dict>
	<key>UITableViewCell</key>
	<dict>
		<key>backgroundColor</key>
		<string>#FFFFFF</string>
	</dict>
	<key>UIView</key>
	<dict>
		<key>backgroundColor</key>
		<string>#FFFFFF</string>
	</dict>
	<key>UIButton</key>
	<dict>
		<key>backgroundColor</key>
		<string>#FFFFFF</string>
	</dict>
	<key>Header</key>
	<dict>
		<key>textColor</key>
		<string></string>
		<key>textFont</key>
		<string>AvenirNext-Bold,30</string>
	</dict>
	<key>Title</key>
	<dict>
		<key>textColor</key>
		<string>#666666</string>
		<key>textFont</key>
		<string>AvenirNext-Bold,16</string>
	</dict>
	<key>Body</key>
	<dict>
		<key>textColor</key>
		<string>#666666</string>
		<key>textFont</key>
		<string>AvenirNext-Regular,14</string>
	</dict>
	<key>Summary</key>
	<dict>
		<key>textColor</key>
		<string>#666666</string>
		<key>textFont</key>
		<string>AvenirNext-Regular,14</string>
	</dict>
	<key>Footer</key>
	<dict>
		<key>textColor</key>
		<string>#666666</string>
		<key>textFont</key>
		<string>AvenirNext-Regular,12</string>
	</dict>
	<key>ShadowView</key>
	<dict>
		<key>backgroundColor</key>
		<string>#AAA9A5</string>
	</dict>
	<key>CornerRadiusView</key>
	<dict>
		<key>backgroundColor</key>
		<string>#FFFFFF</string>
	</dict>
</dict>
</plist>
