<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UITableView</key>
	<dict>
		<key>backgroundColor</key>
		<string>#FFFFFF</string>
	</dict>
	<key>NSAttributedString</key>
	<dict>
		<key>foregroundColor</key>
		<string>#666666</string>
		<key>highlightColor</key>
		<string>#DEE5ED</string>
	</dict>
	<key>UITableViewCell</key>
	<dict>
		<key>backgroundColor</key>
		<string>#FFFFFF</string>
		<key>contentView</key>
		<dict>
			<key>backgroundColor</key>
			<string>#FFFFFF</string>
		</dict>
	</dict>
	<key>UIView</key>
	<dict>
		<key>backgroundColor</key>
		<string>#FFFFFF</string>
	</dict>
	<key>StandardOperationButton</key>
	<dict>
		<key>titleColor</key>
		<string>#666666</string>
		<key>textFont</key>
		<string>AvenirNext-Regular,12</string>
	</dict>
	<key>Header</key>
	<dict>
		<key>textColor</key>
		<string></string>
		<key>textFont</key>
		<string>AvenirNext-Bold,30</string>
	</dict>
	<key>Title</key>
	<dict>
		<key>textColor</key>
		<string>#666666</string>
		<key>textFont</key>
		<string>AvenirNext-Bold,16</string>
	</dict>
	<key>Body</key>
	<dict>
		<key>textColor</key>
		<string>#666666</string>
		<key>textFont</key>
		<string>AvenirNext-Regular,14</string>
	</dict>
	<key>Summary</key>
	<dict>
		<key>textColor</key>
		<string>#666666</string>
		<key>textFont</key>
		<string>AvenirNext-Regular,14</string>
	</dict>
	<key>Footer</key>
	<dict>
		<key>textColor</key>
		<string>#666666</string>
		<key>textFont</key>
		<string>AvenirNext-Regular,12</string>
	</dict>
	<key>ShadowView</key>
	<dict>
		<key>shadowColor</key>
		<string>#AAA9A5</string>
		<key>backgroundColor</key>
		<string>#EDF1F2</string>
	</dict>
	<key>CornerRadiusView</key>
	<dict>
		<key>backgroundColor</key>
		<string>#FFFFFF</string>
	</dict>
	<key>SeperateLineView</key>
	<dict>
		<key>backgroundColor</key>
		<string>#999999</string>
	</dict>
	<key>AttributedText</key>
	<dict>
		<key>textColor</key>
		<string>#666666</string>
		<key>highlightTextColor</key>
		<string>#3599db</string>
		<key>textFont</key>
		<string>AvenirNext-Regular,12</string>
		<key>highlightTextFont</key>
		<string>AvenirNext-Regular,14</string>
	</dict>
	<key>SCLAlertView</key>
	<dict>
		<key>customViewColor</key>
		<string>#333333</string>
	</dict>
	<key>INSLogInBackgroundView</key>
	<dict>
		<key>primaryColor</key>
		<string>#FFFFFF</string>
		<key>secondaryColor</key>
		<string>#000000</string>
		<key>iconImage</key>
		<string>loginBackgroundViewIcon</string>
	</dict>
	<key>INSLogInView</key>
	<dict>
		<key>LogInWithAppleIDButton</key>
		<dict>
			<key>style</key>
			<integer>2</integer>
		</dict>
		<key>OrLabel</key>
		<dict>
			<key>textColor</key>
			<string>#333333</string>
			<key>textFont</key>
			<string>AvenirNext-Bold,12</string>
		</dict>
		<key>LogInButton</key>
		<dict>
			<key>textColor</key>
			<string>#333333</string>
			<key>textFont</key>
			<string>AvenirNext-Bold,14</string>
		</dict>
		<key>SignUpButton</key>
		<dict>
			<key>textColor</key>
			<string>#333333</string>
			<key>textFont</key>
			<string>AvenirNext-Regular,12</string>
		</dict>
		<key>ResetPasswordButton</key>
		<dict>
			<key>textColor</key>
			<string>#333333</string>
			<key>textFont</key>
			<string>AvenirNext-Regular,12</string>
		</dict>
	</dict>
	<key>INSCloseButton</key>
	<dict>
		<key>primaryColor</key>
		<string>#000000</string>
		<key>backgroundColor</key>
		<string>#FFFFFF</string>
	</dict>
	<key>INSAutoHeightTextView</key>
	<dict>
		<key>placeholderLabel</key>
		<dict>
			<key>textColor</key>
			<string>#999999</string>
			<key>font</key>
			<string>AvenirNext-Regular,14</string>
		</dict>
		<key>font</key>
		<string>AvenirNext-Regular,14</string>
		<key>backgroundColor</key>
		<string>#FFFFFF</string>
	</dict>
	<key>INSTextViewCell</key>
	<dict>
		<key>textNumberLabel</key>
		<dict>
			<key>textColor</key>
			<string>#999999</string>
			<key>textColorWhenReachesMax</key>
			<string>#FF0000</string>
			<key>font</key>
			<string>AvenirNext-Regular,14</string>
		</dict>
		<key>font</key>
		<string>AvenirNext-Regular,14</string>
		<key>backgroundColor</key>
		<string>#FFFFFF</string>
	</dict>
	<key>INSTagsCell</key>
	<dict>
		<key>placeholderLabel</key>
		<dict>
			<key>textColor</key>
			<string>#999999</string>
			<key>font</key>
			<string>AvenirNext-Regular,14</string>
		</dict>
		<key>tagView</key>
		<dict>
			<key>tagFont</key>
			<string>AvenirNext-Regular,14</string>
			<key>tagTextColor</key>
			<string>#000000</string>
			<key>tagSelectedTextColor</key>
			<string>#000000</string>
			<key>tagBackgroundColor</key>
			<string>#000000</string>
			<key>tagSelectedBackgroundColor</key>
			<string>#000000</string>
		</dict>
		<key>backgroundColor</key>
		<string>#FFFFFF</string>
		<key>contentView</key>
		<dict>
			<key>backgroundColor</key>
			<string>#FFFFFF</string>
		</dict>
	</dict>
	<key>INSSwitchCell</key>
	<dict>
		<key>switchButton</key>
		<dict>
			<key>onTintColor</key>
			<string>#000000</string>
		</dict>
		<key>textLabel</key>
		<dict>
			<key>font</key>
			<string>AvenirNext-Regular,14</string>
			<key>textColor</key>
			<string>#000000</string>
		</dict>
		<key>detailTextLabel</key>
		<dict>
			<key>font</key>
			<string>AvenirNext-Regular,14</string>
			<key>textColor</key>
			<string>#000000</string>
		</dict>
		<key>backgroundColor</key>
		<string>#FFFFFF</string>
		<key>contentView</key>
		<dict>
			<key>backgroundColor</key>
			<string>#FFFFFF</string>
		</dict>
	</dict>
	<key>INSDropdownMenuCell</key>
	<dict>
		<key>dropdownMenu</key>
		<dict>
			<key>rowSeparatorColor</key>
			<string>#EDF1F2</string>
			<key>backgroundColorForHighlightedRows</key>
			<string>#3599DB</string>
			<key>backgroundColorForRow</key>
			<string>#FFFFFF</string>
			<key>attributedTitleForRowFont</key>
			<string>AvenirNext-Regular,14</string>
			<key>attributedTitleForRowTextColor</key>
			<string>#333333</string>
		</dict>
		<key>categoryLabel</key>
		<dict>
			<key>font</key>
			<string>AvenirNext-Regular,14</string>
			<key>textColor</key>
			<string>#000000</string>
		</dict>
		<key>backgroundColor</key>
		<string>#FFFFFF</string>
		<key>contentView</key>
		<dict>
			<key>backgroundColor</key>
			<string>#FFFFFF</string>
		</dict>
	</dict>
	<key>INSCommentCell</key>
	<dict>
		<key>contentLabel</key>
		<dict>
			<key>textColor</key>
			<string>#EDF1F2</string>
			<key>font</key>
			<string>AvenirNext-Regular,14</string>
		</dict>
		<key>backgroundColor</key>
		<string>#FFFFFF</string>
		<key>contentView</key>
		<dict>
			<key>backgroundColor</key>
			<string>#FFFFFF</string>
		</dict>
	</dict>
</dict>
</plist>
